In [4]:
import pickle
import numpy as np 
import pandas as pd 
import math

import sys
sys.path.append('../utils')
from treasury_base import *
from scipy.stats import t
from sklearn.metrics import mean_squared_error as mse

In [12]:
cross_val_window = 5

with open(f"pickle/dfs_{cross_val_window}_steps_ahead.pkl", "rb") as file:
    loaded_dataframes = pickle.load(file)

# Extract individual DataFrames
naive_df = loaded_dataframes["naive_df"]
kan_df = loaded_dataframes["kan_df"]
truth_df = loaded_dataframes["truth_df"]

# Use the DataFrames
truth_df.head()

,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,
2024-11-07,4.69,4.69,4.63,4.40,4.28,4.21,4.13,4.17,4.25,4.31,4.62,4.52
2024-11-08,4.70,4.69,4.63,4.42,4.32,4.26,4.18,4.20,4.25,4.30,4.58,4.47
2024-11-12,4.70,4.70,4.63,4.45,4.38,4.34,4.29,4.32,4.38,4.43,4.70,4.58
2024-11-13,4.69,4.67,4.60,4.40,4.31,4.27,4.25,4.30,4.38,4.44,4.73,4.63
2024-11-14,4.70,4.68,4.61,4.43,4.36,4.34,4.30,4.32,4.38,4.43,4.69,4.58

In [13]:
cols = truth_df.columns
mode = 'two-sided'

for i in range(12):
    y1 = kan_df.iloc[:, i].values
    y2 = naive_df.iloc[:, i].values
    y = truth_df.iloc[:, i].values

    print(f'{cols[i]}: {dm_test(y, y1, y2, h=1, mode=mode)}')

1 Mo: dm_return(DM=np.float64(-0.49852148097775195), p_value=np.float64(0.6238384903796441))
2 Mo: dm_return(DM=np.float64(3.7433066237704704), p_value=np.float64(0.0013768404953141931))
3 Mo: dm_return(DM=np.float64(2.8742820465978185), p_value=np.float64(0.00971173793000478))
6 Mo: dm_return(DM=np.float64(6.457968833441058), p_value=np.float64(3.4424781295117153e-06))
1 Yr: dm_return(DM=np.float64(2.8001313818023887), p_value=np.float64(0.011420399380431526))
2 Yr: dm_return(DM=np.float64(1.6418691912622483), p_value=np.float64(0.1170657071252074))
3 Yr: dm_return(DM=np.float64(0.5641633594289387), p_value=np.float64(0.579242424751139))
5 Yr: dm_return(DM=np.float64(0.7202255018128735), p_value=np.float64(0.48015361476802554))
7 Yr: dm_return(DM=np.float64(0.21694897941144947), p_value=np.float64(0.8305606621960886))
10 Yr: dm_return(DM=np.float64(1.8358938669593108), p_value=np.float64(0.0820741456185214))
20 Yr: dm_return(DM=np.float64(2.134073847512143), p_value=np.float64(0.046086495192697974))
30 Yr: dm_return(DM=np.float64(0.8834697247112646), p_value=np.float64(0.38802484922788716))

In [7]:
print(mse(y1, y))
print(mse(y2, y))

0.005912859995151888
0.024285000000000032