In [1]:
import sys
sys.path.append('../utils')

from base import *

In [2]:
FILE_NAME = 'us_treasury_rates_large.csv'

In [ ]:
df = treasury_data_retrieval(file_name=FILE_NAME)
df.tail()

,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,
2024-12-02,4.75,4.63,4.51,4.43,4.30,4.17,4.11,4.08,4.13,4.19,4.46,4.36
2024-12-03,4.66,4.56,4.49,4.40,4.27,4.17,4.13,4.11,4.17,4.23,4.50,4.40
2024-12-04,4.65,4.54,4.47,4.38,4.23,4.13,4.09,4.07,4.13,4.19,4.45,4.35
2024-12-05,4.59,4.53,4.46,4.38,4.23,4.15,4.10,4.07,4.12,4.17,4.43,4.33
2024-12-06,4.57,4.50,4.42,4.34,4.19,4.10,4.05,4.03,4.09,4.15,4.42,4.34

In [4]:
df = basis_operations(df)
df.tail()

,Basis_0,Basis_1,Basis_2,Basis_3,Basis_4,Basis_5,Basis_6,Basis_7
Date,,,,,,,,
2024-12-02,4.730691,4.335241,4.337178,4.149289,4.077506,4.137837,4.749234,4.359987
2024-12-03,4.644065,4.355321,4.266334,4.162503,4.101351,4.202328,4.775293,4.400051
2024-12-04,4.629839,4.337400,4.217692,4.124627,4.059989,4.169103,4.714165,4.350041
2024-12-05,4.582256,4.375189,4.186948,4.157661,4.064922,4.126638,4.704006,4.330119
2024-12-06,4.560251,4.320623,4.159402,4.102298,4.015630,4.135312,4.677805,4.340107

In [7]:
test = basis_operations(df, reverse=True)
test.tail()

,Maturity_0,Maturity_1,Maturity_2,Maturity_3,Maturity_4,Maturity_5,Maturity_6,Maturity_7,Maturity_8,Maturity_9,Maturity_10,Maturity_11
Date,,,,,,,,,,,,
2024-12-02,4.730691,4.632349,4.551746,4.397210,4.308409,4.172526,4.102152,4.091315,4.121724,4.191880,4.460011,4.359987
2024-12-03,4.644065,4.571239,4.509532,4.380243,4.274950,4.172658,4.122937,4.121992,4.158615,4.234080,4.499639,4.400051
2024-12-04,4.629839,4.555747,4.492318,4.356006,4.236289,4.132502,4.082834,4.081887,4.119111,4.193726,4.449699,4.350041
2024-12-05,4.582256,4.528626,4.480446,4.365075,4.233787,4.151090,4.096570,4.078784,4.108365,4.175615,4.429267,4.330119
2024-12-06,4.560251,4.498827,4.444856,4.321617,4.194705,4.101254,4.045944,4.039345,4.078434,4.155326,4.419336,4.340107

In [8]:
data = full_df_retrieval(df, window_list=[1], lag_list=[1, 2, 3, 4, 5])[0]
data.tail()

,Basis_0,Basis_1,Basis_2,Basis_3,Basis_4,Basis_5,Basis_6,Basis_7,Basis_0_+_0,Basis_1_+_0,...,Basis_6_-_4_window_1,Basis_7_-_4_window_1,Basis_0_-_5_window_1,Basis_1_-_5_window_1,Basis_2_-_5_window_1,Basis_3_-_5_window_1,Basis_4_-_5_window_1,Basis_5_-_5_window_1,Basis_6_-_5_window_1,Basis_7_-_5_window_1
Date,,,,,,,,,,,,,,,,,,,,,
2024-12-02,4.730691,4.335241,4.337178,4.149289,4.077506,4.137837,4.749234,4.359987,4.730691,4.335241,...,4.750528,4.359615,4.768350,4.381380,4.300640,4.117707,4.056935,4.111388,4.750528,4.359615
2024-12-03,4.644065,4.355321,4.266334,4.162503,4.101351,4.202328,4.775293,4.400051,4.644065,4.355321,...,4.749234,4.359987,4.730691,4.335241,4.337178,4.149289,4.077506,4.137837,4.749234,4.359987
2024-12-04,4.629839,4.337400,4.217692,4.124627,4.059989,4.169103,4.714165,4.350041,4.629839,4.337400,...,4.775293,4.400051,4.644065,4.355321,4.266334,4.162503,4.101351,4.202328,4.775293,4.400051
2024-12-05,4.582256,4.375189,4.186948,4.157661,4.064922,4.126638,4.704006,4.330119,4.582256,4.375189,...,4.714165,4.350041,4.629839,4.337400,4.217692,4.124627,4.059989,4.169103,4.714165,4.350041
2024-12-06,4.560251,4.320623,4.159402,4.102298,4.015630,4.135312,4.677805,4.340107,4.560251,4.320623,...,4.704006,4.330119,4.582256,4.375189,4.186948,4.157661,4.064922,4.126638,4.704006,4.330119