In [ ]:
!pip install torchmetrics

In [1]:
#@title 1.3. IMPORT LIBRARY
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tqdm import tqdm
from sklearn.model_selection import train_test_split, cross_val_score

from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#@title 1.4. RETRIEVE DATA
df_credit = pd.read_csv('/workspaces/functional-kan/phase_1/data/german_credit_data.csv')
df_credit['Risk'] = df_credit['Risk'].map({'good': 1, 'bad': 0})
df_credit.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,1
1,22,female,2,own,little,moderate,5951,48,radio/TV,0
2,49,male,1,own,little,NaN,2096,12,education,1
3,45,male,2,free,little,little,7882,42,furniture/equipment,1
4,53,male,2,free,little,little,4870,24,car,0

In [3]:
X = df_credit.drop(columns='Risk')
X = pd.get_dummies(X, dtype='int')
y = df_credit['Risk']

X.head()

,Age,Job,Credit amount,Duration,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,Saving accounts_little,...,Checking account_moderate,Checking account_rich,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others
0,67,2,1169,6,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,22,2,5951,48,1,0,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
2,49,1,2096,12,0,1,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
3,45,2,7882,42,0,1,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,53,2,4870,24,0,1,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [4]:
#@title 4.2. MLP PREDICTION TRIAL
n_simulation = 50
test_size = 0.3
total = 0

for idx in tqdm(range(n_simulation)):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, stratify=y, random_state=idx)

    mlp = GaussianNB()
    mlp.fit(X_train, y_train)

    y_pred = mlp.predict(X_test)
    total += (y_pred == y_test).mean()

accuracy = total / n_simulation
accuracy

100%|██████████| 50/50 [00:00<00:00, 244.00it/s]

np.float64(0.6747333333333333)

In [7]:
from kan import *
torch.set_default_dtype(torch.float64)

device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
print(device)

# create a KAN: 2D inputs, 1D output, and 5 hidden neurons. cubic spline (k=3), 5 grid intervals (grid=5).
# model = KAN(width=[24, 1], grid=3, k=3, seed=42, device=device)

cpu

In [8]:
df_train = pd.concat([X, y], axis=1)
df_train

,Age,Job,Credit amount,Duration,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,Saving accounts_little,...,Checking account_rich,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Risk
0,67,2,1169,6,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
1,22,2,5951,48,1,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
2,49,1,2096,12,0,1,0,1,0,1,...,0,0,0,0,1,0,0,0,0,1
3,45,2,7882,42,0,1,1,0,0,1,...,0,0,0,0,0,1,0,0,0,1
4,53,2,4870,24,0,1,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,1,1736,12,1,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,1
996,40,3,3857,30,0,1,0,1,0,1,...,0,0,1,0,0,0,0,0,0,1
997,38,2,804,12,0,1,0,1,0,1,...,0,0,0,0,0,0,1,0,0,1
998,23,2,1845,45,0,1,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
999,27,2,4576,45,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1

In [34]:
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader


class CreditDataSet(Dataset):
    def __init__(self, df):
        super().__init__()
        # Convert data to a NumPy array and assign to self.data
        self.data = df.to_numpy()
        
    # Implement __len__ to return the number of data samples
    def __len__(self):
        return self.data.shape[0]
    
    def __getitem__(self, idx):
        features = self.data[idx, :-1]
        # Assign last data column to label
        label = self.data[idx, -1]
        return features, label

dataset_train = CreditDataSet(df_train)

# Create a DataLoader based on dataset_train
dataloader_train = DataLoader(
    dataset_train,
    batch_size=100,
    shuffle=True,
)

# Get a batch of features and labels
features, labels = next(iter(dataloader_train))
# print(features, labels)

In [85]:
class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        # Define the three linear layers
        self.fc1 = nn.Linear(24, 4)
        self.fc2 = nn.Linear(4, 2)
        self.fc3 = nn.Linear(2, 1)
        
    def forward(self, x):
        # Pass x through linear layers adding activations
        x = nn.functional.relu(self.fc1(x))
        x = nn.functional.relu(self.fc2(x))
        x = nn.functional.sigmoid(self.fc3(x))
        return x

def train_model(optimizer, net, criterion, num_epochs, dataloader_train):
    for epoch in tqdm(range(num_epochs)):
        for features, labels in dataloader_train:
            optimizer.zero_grad()
            outputs = net(features.double())
            loss = criterion(outputs, labels.view(-1, 1).float())
            loss.backward()
            optimizer.step()
    
net = Net()

# Define the SGD optimizer
optimizer = optim.SGD(net.parameters(), lr=0.01, momentum=0.9)
pos_weight = torch.tensor([3/7])


train_model(
    criterion=nn.BCEWithLogitsLoss(pos_weight=pos_weight),
    optimizer=optimizer,
    net=net,
    num_epochs=1000,
    dataloader_train=dataloader_train
)

100%|██████████| 1000/1000 [00:08<00:00, 118.14it/s]

In [86]:
from torchmetrics import Accuracy

# Set up binary accuracy metric
acc = Accuracy('binary')

net.eval()
with torch.no_grad():
    for features, labels in dataloader_train:
        # Get predicted probabilities for test data batch
        outputs = net(features.double())
        preds = (outputs >= 0.5).float()
        acc(preds, labels.view(-1, 1))

# Compute total test accuracy
test_accuracy = acc.compute()
print(f"Test accuracy: {test_accuracy}")

Test accuracy: 0.30000001192092896

In [29]:
dataset = dict()
dataset['train_input'] = torch.from_numpy(X_train.values)
dataset['train_label'] = torch.from_numpy(y_train.values)

dataset['test_input'] = torch.from_numpy(X_test.values)
dataset['test_label'] = torch.from_numpy(y_test.values)